* {
	box-sizing: border-box;
}

article,
aside,
details,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: sans-serif;
	background: #f1f1f1;
	color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 16px;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
	line-height: 1;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}


p {
	margin: 0 0 16px;
	padding: 0;
	line-height: 1.5;
}

dl {
	margin: 0 0 16px;
	padding: 0;
}

dt {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

dd {
	margin: 0 0 16px;
	padding: 0;
}

ol {
	margin: 0 0 16px;
	padding: 0 0 0 32px;
	list-style: decimal;
	line-height: 1.4;
}

ul {
	margin: 0 0 16px;
	padding: 0 0 0 32px;
	list-style: disc;
	line-height: 1.4;
}

ol li,
ul li {
	margin: 0;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin: 0;
	padding: 0 0 0 24px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption {
	font-weight: normal;
	text-align: center;
}

th {
	font-weight: bold;
	text-align: left;
}

td {
	font-weight: normal;
	text-align: left;
}


form {
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 0 0 16px;
	padding: 16px 0 0;
	border: none;
}

input[type=text],
input[type=password],
select {
	margin: 8px 0;
	display: block;
}

label {
	margin: 8px 0;
	display: block;
}


a {
	text-decoration: none;
}

a:hover {

}

a img {
	border: none;
}

b,
strong {
	font-weight: bold;
}

i,
em {
	font-style: italic;
}



.navigation {
	margin: 0 0 16px;
	padding: 8px 0;
	font-size: 12px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.navigation ul {
	margin: 0;
	padding: 12px 0 0;
	list-style: none;
}

.navigation li {
	float: left;
	width: 33%;
}

.navigation a {
	color: #666;
}

.navigation a.active,
.navigation a:hover {
	color: #333;
}

.navigation:after {
	content: " ";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.main {
	padding: 0 16px;
	padding-bottom: 16px;
}

@media (min-width: 576px) {
	.navigation {
		font-size: 14px;
	}
	.navigation .logo {
		float: left;
		width: 25%;
	}
	.navigation ul {
		float: left;
		width: 75%;
		padding: 16px 0;
	}
}

@media (min-width: 1024px) {
	.navigation,
	.navigation ul,
	.navigation li,
	.navigation .logo {
		display: block;
		float: none;
		width: auto;
	}
	.navigation {
		text-align: right;
		background: none;
		border: none;
	}
	.container {
		margin: 0 auto;
		max-width: 1400px;
	}
	.navigation {
		float: left;
		width: 16%;
		padding: 40px 16px 0;
	}
	.navigation .logo {
		display: inline-block;
		margin-bottom: 32px;
	}
	.navigation ul {
		padding: 0;
	}
	.navigation li {
		margin: 0 0 16px;
	}
	.main {
		float: left;
		width: 84%;
		padding: 32px 18px;
	}
	.main h1 {
		margin-top: 22px;
		padding-bottom: 16px;
		border-bottom: 1px solid #ccc;
	}
}



.workspaces h1 {
	display: none;
}

.workspaces .user-badge {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	padding: 11px 12px;
	margin: 0 0 5px;
	background: #ccc;
	border-radius: 50px;
}

.workspaces .user-name {
	display: block;
	font-size: 10px;
}

.workspaces .user {
	text-align: center;
}

.workspaces select {
	width: 100%;
}

@media(min-width: 576px) {
	.workspaces {
		text-align: center;
	}

	.workspaces select {
		display: inline-block;
		width: auto;
	}
}

@media(min-width: 768px) {
	.workspaces {
		margin-bottom: 16px;
		padding-bottom: 6px;
		border-bottom: 1px solid #ccc;
	}

	.workspaces h1 {
		display: block;
		float: left;
		margin: 25px 0 0;
		padding: 0;
		border: none;
	}

	.workspaces .user {
		float: right;
		margin-top: 16px;
	}

	.workspaces select {
		float: right;
		margin-top: 30px;
		margin-right: 25px;
	}

	.workspaces:after {
		content: ".";
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}
}

.subsets {
	margin: 0 0 16px;
}

.subset {
	color: #444;
	position: relative;
	margin: 16px 0;
	padding: 16px;
	border-radius: 4px;
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.subset-action-report {
	font-size: 12px;
	position: absolute;
	bottom: 0;
	z-index: 20000;
	border: none;
	background: #fff;
	margin: 0;
	padding: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.subset h2 {
	font-size: 12px;
	text-align: center;
}

.subset .subset-selections {
	font-size: 12px;
}

.subset .subset-selections dd {
	margin: 0 4px 0 0;
	padding: 0;
	display: inline-block;
}

.subset .subset-selections dd:after {
	content: ",";
}

.subset .subset-selections dd:last-child:after {
	content: "";
}

.subset .subset-selections dt {
	margin: 5px 0 0;
}

.subset a.subset-action-none {
	display: block;
	height: 220px;
	overflow: hidden;
	cursor: pointer;
}

.subset a.subset-action-none:after {
	content: " ";
	display: block;
	position: absolute;
	top: 16px;
	left: 0;
	right: 0;
	bottom: 32px;
	bottom: 0;
	z-index: 10000;
	background: linear-gradient(transparent, #fff);
}

.subset-disabled:after {
	content: " ";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.75);
}

.subset-action-edit {
	position: absolute;
	top: 8px;
	right: 5px;
	border: none;
	background: none;
}

.subset-action-edit span {
	display: none;
}

.icon-edit {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 12px;
	height: 13px;
	background: url(images/icon-edit.svg) no-repeat center center;
}

.subset-new {
	background: none;
	box-shadow: none;
}

.subset-action-new {
	display: block;
	width: 100%;
	height: 80px;
	border: none;
	background: none;
	font-size: 12px;
	cursor: pointer;
}

.subset-action-new i {
	display: block;
	margin: 0 0 8px;
	font-style: normal;
	font-size: 32px;
}

@media(min-width: 576px) {
	.subset {
		float: left;
		width: 48%;
		margin: 1%;
	}

	.subset-new {
		background: #f6f6f6;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
	}

	.subset-action-new {
		height: 220px;
	}

	.subsets:after {
		content: " ";
		display: block;
		height: 0;
		visibility: hidden;
		clear: both;
	}
}

@media(min-width: 768px) {
	.subset {
		width: 31.8%;
		margin: 0.76%;
	}
}

@media(min-width: 1200px) {
	.subset {
		width: 24%;
		margin: 0.5%;
	}
}


.subset-panel .actions {
	text-align: center;
}

.subset-panel .actions button {
	width: 100%;
}

@media(min-width: 576px) {
	.subset-panel .actions {
		text-align: right;
	}

	.subset-panel .actions button {
		width: auto;
	}
}


.demo-notice {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 40000;
	background: #fff;
	border-top: 1px solid #ccc;
}

.demo-notice p {
	margin: 0 15px;
	padding: 15px;
	font-size: 12px;
	text-align: center;
}

.demo-notice button {
	padding: 15px 15px;
	float: right;
	font-size: 18px;
	border: none;
	background: none;
	cursor: pointer;
}
