{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
  EKOSTAT - Documentation
{% endblock title %}


{% block content-left-area %}

	<p>
		<b> Content:</b> 
	<p> 
		<a href="#introduction">- Introduction</a>
	</p>
	<p> 
		<a href="#more">- More</a>
	</p>

{% endblock content-left-area %}


{% block content-alerts %}

{% endblock content-alerts %}


{% block content %}


<h3>Documentation</h3>
	
	<p>Note: EKOSTAT is under development. 
	</p>

	<hr>
	<h4 id="introduction">Introduction</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
	incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
	exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint 
	occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
	laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
	dolore magna aliqua. 
	</p>
	<hr>
	<h4 id="more">More</h4>
	<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
	nisi ut aliquip ex ea commodo consequat.
	</p>

{% endblock content %}


{% block content-right-area %}

{% endblock content-right-area %}
